@page
@model IndexModel
@{
	string defaultCateImg = "assets/images/categories/box.png";
}
<!--Banner Home Start-->
@await Component.InvokeAsync("HomeBannerComponent")
<!--Banner Home End-->

<!-- Sub Category After Banner -->

    <div class="wt-categoriesslider-holder wt-haslayout">
        <div class="wt-title">
            <h2>Top SubCategories:</h2>
        </div>
        <div id="wt-categoriesslider" class="wt-categoriesslider owl-carousel">
            @foreach (var cate in Model.Categories)
            {
				if (cate.SubCategories != null)
				{
					foreach (var sub in cate.SubCategories)
					{
						<div class="wt-categoryslidercontent item">
							<figure><img src="~/@sub.SubcateImage" alt="image description"></figure>
							<div class="wt-cattitle">
								<h3><a href="/Admin/subcategories/detail?subcateId=@sub.SubCateId">@sub.SubcateName</a></h3>
								<span>Items: </span>
							</div>
						</div>
					}
				}    
            }
        </div>
    </div>

<!-- Sub Category After End -->


<!--Main Of Clients Start-->
<main id="wt-main" class="wt-main wt-haslayout wt-innerbgcolor">

	<!--Categories Start-->
	<section class="wt-haslayout wt-main-section">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
					<div class="wt-sectionhead wt-textcenter">
						<div class="wt-sectiontitle">
							<h2>Explore Categories</h2>
							<span>Professional by categories</span>
						</div>
					</div>
				</div>
				<div class="wt-categoryexpl">

                    @foreach (var item in Model.Categories)
                    {
						<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 float-left">
							<div class="wt-categorycontent">
								<figure><img src="~/@(item.CategoryImage==null ? defaultCateImg : item.CategoryImage)" alt="img description"></figure>
								<div class="wt-cattitle">
									<h3><a href="javascrip:void(0);">@item.CategoryName</a></h3>
								</div>
								<div class="wt-categoryslidup">
									<p>@item.CategoryDescription</p>
									<a asp-page="/Admin/Categories/Detail" asp-route-CateId="@item.CategoryId">Explore <i class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
                    }

					@*<div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
						<div class="wt-btnarea">
							<a href="javascript:void(0)" class="wt-btn">View All</a>
						</div>
					</div>*@
				</div>
			</div>
		</div>
	</section>
	<!--Categories End-->

	<!--Top Service Component Start-->
	@if (Model.RoleUser == "Client" || Model.RoleUser == "Admin")
	{
		@await Component.InvokeAsync("ClientIndexComponent")
	}
	<!--Top Service Component End-->


	<!--Top Post Component Start-->
	@if (Model.RoleUser == "Provider" || Model.RoleUser == "Admin")
	{
		@await Component.InvokeAsync("ProviderIndexComponent")
	}
	<!--Top Post Component End-->

</main>
<!--Main Of Clients End-->
