@using Data.Models;
@model List<Category>

<a href="#">Categories</a>

<ul class="sub-menu">

	@foreach (var item in Model)
	{
		<li class="menu-item-has-children page_item_has_children wt-notificationicon">
			<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span><span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
			<a href="javascript:void(0);">@item.CategoryName</a>
			@*<ul class="sub-menu">
				<li><a href="index-2.html">Home v1</a></li>
				<li class="wt-newnoti"><a href="indexvtwo.html">Home v2<em>without login</em></a></li>
			</ul>*@
		</li>
	}

</ul>
